<head><script defer src="/app.js"></script><script defer src="/assets/js/chart.js"></script><link href="/assets/css/styles.css" rel="stylesheet"></head>Html Webpack Plugin:
<pre>
  Error: Child compilation failed:
  Module not found: Error: Can't resolve '../assets/images/black-shirt  .jpg' in 'C:\Users\ahmed\Desktop\control-panel\src\components'
  ModuleNotFoundError: Module not found: Error: Can't resolve '../asse  ts/images/black-shirt.jpg' in 'C:\Users\ahmed\Desktop\control-panel\  src\components'
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \Compilation.js:2016:28
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:798:13
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:10:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:270:22
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:9:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:434:22
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:116:11
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:670:25
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:855:8
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:975:5
      at C:\Users\ahmed\Desktop\control-panel\node_modules\neo-async\a  sync.js:6883:13
      at Array.<anonymous> (C:\Users\ahmed\Desktop\control-panel\node_  modules\webpack\lib\NormalModuleFactory.js:950:14)
      at arrayEachFunc (C:\Users\ahmed\Desktop\control-panel\node_modu  les\neo-async\async.js:2517:19)
      at Object.parallel (C:\Users\ahmed\Desktop\control-panel\node_mo  dules\neo-async\async.js:6858:9)
      at NormalModuleFactory._resolveResourceErrorHints (C:\Users\ahme  d\Desktop\control-panel\node_modules\webpack\lib\NormalModuleFactory  .js:873:12)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:834:18
      at finishWithoutResolve (C:\Users\ahmed\Desktop\control-panel\no  de_modules\enhanced-resolve\lib\Resolver.js:312:11)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:386:15
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:27:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\DescriptionFilePlugin.js:87:43
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:15:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:27:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\DescriptionFilePlugin.js:87:43
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:15:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\DirectoryExistsPlugin.js:41:15
      at process.processTicksAndRejections (node:internal/process/task  _queues:81:21)
  Module not found: Error: Can't resolve '../assets/images/black-shirt  .jpg' in 'C:\Users\ahmed\Desktop\control-panel\src\components'
  ModuleNotFoundError: Module not found: Error: Can't resolve '../asse  ts/images/black-shirt.jpg' in 'C:\Users\ahmed\Desktop\control-panel\  src\components'
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \Compilation.js:2016:28
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:798:13
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:10:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:270:22
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:9:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:434:22
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:116:11
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:670:25
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:855:8
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:975:5
      at C:\Users\ahmed\Desktop\control-panel\node_modules\neo-async\a  sync.js:6883:13
      at Array.<anonymous> (C:\Users\ahmed\Desktop\control-panel\node_  modules\webpack\lib\NormalModuleFactory.js:950:14)
      at arrayEachFunc (C:\Users\ahmed\Desktop\control-panel\node_modu  les\neo-async\async.js:2517:19)
      at Object.parallel (C:\Users\ahmed\Desktop\control-panel\node_mo  dules\neo-async\async.js:6858:9)
      at NormalModuleFactory._resolveResourceErrorHints (C:\Users\ahme  d\Desktop\control-panel\node_modules\webpack\lib\NormalModuleFactory  .js:873:12)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:834:18
      at finishWithoutResolve (C:\Users\ahmed\Desktop\control-panel\no  de_modules\enhanced-resolve\lib\Resolver.js:312:11)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:386:15
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:27:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\DescriptionFilePlugin.js:87:43
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:15:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:27:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\DescriptionFilePlugin.js:87:43
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:15:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\DirectoryExistsPlugin.js:41:15
      at process.processTicksAndRejections (node:internal/process/task  _queues:81:21)
  Module not found: Error: Can't resolve '../assets/images/black-shirt  .jpg' in 'C:\Users\ahmed\Desktop\control-panel\src\components'
  ModuleNotFoundError: Module not found: Error: Can't resolve '../asse  ts/images/black-shirt.jpg' in 'C:\Users\ahmed\Desktop\control-panel\  src\components'
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \Compilation.js:2016:28
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:798:13
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:10:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:270:22
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:9:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:434:22
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:116:11
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:670:25
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:855:8
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:975:5
      at C:\Users\ahmed\Desktop\control-panel\node_modules\neo-async\a  sync.js:6883:13
      at Array.<anonymous> (C:\Users\ahmed\Desktop\control-panel\node_  modules\webpack\lib\NormalModuleFactory.js:950:14)
      at arrayEachFunc (C:\Users\ahmed\Desktop\control-panel\node_modu  les\neo-async\async.js:2517:19)
      at Object.parallel (C:\Users\ahmed\Desktop\control-panel\node_mo  dules\neo-async\async.js:6858:9)
      at NormalModuleFactory._resolveResourceErrorHints (C:\Users\ahme  d\Desktop\control-panel\node_modules\webpack\lib\NormalModuleFactory  .js:873:12)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\webpack\lib  \NormalModuleFactory.js:834:18
      at finishWithoutResolve (C:\Users\ahmed\Desktop\control-panel\no  de_modules\enhanced-resolve\lib\Resolver.js:312:11)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:386:15
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:27:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\DescriptionFilePlugin.js:87:43
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:15:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:27:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\DescriptionFilePlugin.js:87:43
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:16:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\Resolver.js:435:5
      at eval (eval at create (C:\Users\ahmed\Desktop\control-panel\no  de_modules\tapable\lib\HookCodeFactory.js:33:10), <anonymous>:15:1)
      at C:\Users\ahmed\Desktop\control-panel\node_modules\enhanced-re  solve\lib\DirectoryExistsPlugin.js:41:15
      at process.processTicksAndRejections (node:internal/process/task  _queues:81:21)
  
  - Compilation.js:2016 
    [control-panel]/[webpack]/lib/Compilation.js:2016:28
  
  - NormalModuleFactory.js:798 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:798:13
  
  
  - NormalModuleFactory.js:270 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:270:22
  
  
  - NormalModuleFactory.js:434 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:434:22
  
  - NormalModuleFactory.js:116 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:116:11
  
  - NormalModuleFactory.js:670 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:670:25
  
  - NormalModuleFactory.js:855 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:855:8
  
  - NormalModuleFactory.js:975 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:975:5
  
  - async.js:6883 
    [control-panel]/[neo-async]/async.js:6883:13
  
  - NormalModuleFactory.js:950 Array.<anonymous>
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:950:14
  
  - async.js:2517 arrayEachFunc
    [control-panel]/[neo-async]/async.js:2517:19
  
  - async.js:6858 Object.parallel
    [control-panel]/[neo-async]/async.js:6858:9
  
  - NormalModuleFactory.js:873 NormalModuleFactory._resolveResourceErr    orHints
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:873:12
  
  - NormalModuleFactory.js:834 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:834:18
  
  - Resolver.js:312 finishWithoutResolve
    [control-panel]/[enhanced-resolve]/lib/Resolver.js:312:11
  
  - Resolver.js:386 
    [control-panel]/[enhanced-resolve]/lib/Resolver.js:386:15
  
  - Resolver.js:435 
    [control-panel]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - Resolver.js:435 
    [control-panel]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - DescriptionFilePlugin.js:87 
    [control-panel]/[enhanced-resolve]/lib/DescriptionFilePlugin.js:87    :43
  
  - Resolver.js:435 
    [control-panel]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - Resolver.js:435 
    [control-panel]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - Resolver.js:435 
    [control-panel]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - Resolver.js:435 
    [control-panel]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - DescriptionFilePlugin.js:87 
    [control-panel]/[enhanced-resolve]/lib/DescriptionFilePlugin.js:87    :43
  
  - Resolver.js:435 
    [control-panel]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - Resolver.js:435 
    [control-panel]/[enhanced-resolve]/lib/Resolver.js:435:5
  
  
  - DirectoryExistsPlugin.js:41 
    [control-panel]/[enhanced-resolve]/lib/DirectoryExistsPlugin.js:41    :15
  
  - task_queues:81 process.processTicksAndRejections
    node:internal/process/task_queues:81:21
  
  - Module not found: Error: Can't resolve '../assets/images/black-shi    rt.jpg' in 'C:\Users\ahmed\Desktop\control-panel\src\components'
  
  - ModuleNotFoundError: Module not found: Error: Can't resolve '../as    sets/images/black-shirt.jpg' in 'C:\Users\ahmed\Desktop\control-pa    nel\src\components'
  
  - Compilation.js:2016 
    [control-panel]/[webpack]/lib/Compilation.js:2016:28
  
  - NormalModuleFactory.js:798 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:798:13
  
  
  - NormalModuleFactory.js:270 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:270:22
  
  
  - NormalModuleFactory.js:434 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:434:22
  
  - NormalModuleFactory.js:116 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:116:11
  
  - NormalModuleFactory.js:670 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:670:25
  
  - NormalModuleFactory.js:855 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:855:8
  
  - NormalModuleFactory.js:975 
    [control-panel]/[webpack]/lib/NormalModuleFactory.js:975:5
  
  - async.js:6883 
    [control-panel]/[neo-async]/async.js:6883:13
  
</pre>